
#css3-animated-example h3 {
  margin: 0;
  position: relative;
  z-index: 20;
}
#css3-animated-example h3 b{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  line-height: 80px;
  margin-top: 10px;
}
#css3-animated-example h3 span{
  position: relative;
  z-index: 20;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 44px;
  font-weight: 600;
}
#css3-animated-example h3 a {
  display: block;
  padding: 20px;
  width: 100%;
  padding-top: 5%;
  position: absolute;
  left: 0;
  top: 0;
  height: 280px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  z-index: 11;
}
#css3-animated-example h3:hover {}
#css3-animated-example h3.open  {}
#css3-animated-example h3.open a {}
#css3-animated-example h3 + div {}
#css3-animated-example h2 + div,
#css3-animated-example  .example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

/* Pre hide sections with JavaScript on
--- */
#css3-animated-example  h3+div {
  display: none;
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  min-height: 280px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.8s ease;
  moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition:all 0.8s ease;
  transition: all 0.8s ease;
}
#css3-animated-example .content {
  
}

#css3-animated-example h3.open + div {
  height: auto;
}

/* Event example
--- */
pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}

/* Responsive design
--- */

.test { background: #ccc; padding: 10px; border-bottom: 1px solid #aaa;}
.test + div { background: #fff; padding: 10px; }


